body {
}

$nav-height: 60px;

.nav-clear {
  height: $nav-height;
}
.nav {
  position: fixed;
  background: #222222;
  width: 100%;
  height: $nav-height;
}

.nav__item {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  float: left;
  height: $nav-height;
}

.nav__item--avatar {
  float: left;
  padding: 15px 20px;
}

.nav__item--form {
  display: flex;
  float: left;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  height: $nav-height;
}

.nav__item--logout {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 60px;
}

.tile {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
}

.image {
  width: 400px;
  height: auto;
}

.avatar-sm {
  width: 30px;
  height: auto;
  border-radius: 100%;
}

.avatar-lg {
  width: 120px;
  height: auto;
  border-radius: 100%;
}




