<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav %>

<ul>
  <% for(var i=0; i < books.length; i++) { %>
    <li><%= books[i].title %>
      <form method="post">
        <input type="text" name="id" value="<%= books[i].id %>">
        <input type="submit" value="X">
      </form>
    </li>
  <% } %>
</ul>

  </body>
</html>
