<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><%= message %></h1>
    <br>
    <br>
    Submit book form:
    <br>

    <form action="/api/Books/" method="get">
      Title: <input type="text" name="title"><br>
      Author: <input type="text" name="author"><br>
      Genre: <input type="text" name="genere"><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
