<% include partials/_head %>
<% include partials/nav %>

<ul>
  <% for(var i=0; i < books.length; i++) { %>
    <li><a href="/archive/<%= books[i].id %>"><%= books[i].title %></a>
      <form method="post">
        <input type="text" name="id" value="<%= books[i].id %>">
        <input type="submit" value="X">
      </form>
    </li>
  <% } %>
</ul>

<% include partials/_foot %>
