<% include partials/_head %>
<% include partials/nav %>

<h1><%= message %></h1>
<br>
<br>
Submit book form:
<br>

<form action="/" method="post">
  Title: <input type="text" name="title"><br>
  Author: <input type="text" name="author"><br>
  Genre: <input type="text" name="genere"><br>
  <input type="submit" value="Submit">
</form>

<% include partials/_foot %>
