<% include partials/_head %>
<% include partials/nav %>

<h1><%= message %></h1>
<h3><%= error %></h3>

<br>
<br>
Submit book form:
<br>

<form action="/api/Images/create" method="POST" enctype="multipart/form-data">
  Title: <input type="text" name="title"><br>
  Image: <input type="file" name="image" /><br>
  <input type="submit" value="Submit">
</form>

<% include partials/_foot %>
