<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  </head>
  <body>

    <% include partials/nav %>

    <h1><%= message %></h1>
    <br>
    <br>
    Submit book form:
    <br>

    <form method="post">
      Title: <input type="text" name="title"><br>
      Author: <input type="text" name="author"><br>
      Genre: <input type="text" name="genere"><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
