<ul class="nav nav-pills">
  <li><a href="/">Add</a></li>
  <li><a href="/archive">Archive</a></li>
  <li><a href="/api/profile/<%= user %>">Profile</a></li>
  <li>
    <form name="logoutform" action="/auth/logout" method="post">
      <input type="submit" value="Logout">
    </form>
  </li>
</ul>
