<form id="edit-book-form" action="/api/Books/<%= book._id %>/update" method="POST">
  Title: <input type="text" name="title" value="<%= book.title %>"><br>
  Author: <input type="text" name="author" value="<%= book.author %>"><br>
  Genre: <input type="text" name="genere" value="<%= book.genre %>"><br>
  <button id="edit-book-form-update-btn" class="btn">Update</button>
</form>