<ul class="nav nav-pills">
  <li <% if (pageName === 'index') { %>class="active" <% } %> ><a href="/">Add</a></li>

  <li <% if (pageName === 'archive') { %>class="active" <% } %> ><a href="/archive">Archive</a></li>
</ul>
