<% include partials/_head %>
<% include partials/nav %>

<h1><%= user.username %></h1>

<form action="/api/profile/:author" method="POST" enctype="multipart/form-data">
  Avatar: <input type="file" name="image" /><br>
  <input type="submit" value="Submit">
</form>

<% include partials/_foot %>
