// Color
$dark: #24313c;
$link-color: #1ab188;
$grey: #828282;
$light: #f5f5f5;

// Navigation
$nav-height-sm: 60px;
$nav-height: 70px;

// Hamburger
$bar-width: 40px;
$bar-height: 4px;
$bar-spacing: 10px;

$hamburger-width: 40px;
$hamburger-height: 4px;
$hamburger-spacing: 10px;


// Z-index
$z-index: (
  modal              : 200,
  navigation         : 100
//  footer             : 90,
//  triangle           : 60,
//  navigation-rainbow : 50,
//  share-type         : 41,
//  share              : 40,
);
